@media (max-width: 500px) {
    .logo-text, .username {
        display: none;
    }
}

.app-header {
    position: fixed !important;
    left: 50% !important;
    top: 0 !important;
    width: inherit;
    z-index: 1;
    transform: translateX(-50%);
}