body {
  // background-color: #f8f9fa;
  background-color: #fff;
  color: #333;
  font-family: Lato, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow: overlay;
  padding: 0 5px;
}

@media (min-width: 700px) {
  .App {
    width: calc(100% - 50px);
    margin: 0 auto;
  }
}

li {
  list-style-type: none; /* Убираем маркеры */
}
ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.like-button {
  background: none;
  border: none;
  outline: none !important;
  cursor: pointer;
}

.like-small {
  margin-top: -3px;
  margin-right: 5px;
  width: 15px;
  height: 15px;
}

.navbar {
  background: #fff !important;
  box-shadow: 10px 0 #fff, -10px 0 #fff;
}

.nav-link {
  padding: 0.5rem 0rem;
}